html,
body {
  margin: 0;
  padding: 0;
  font-size: auto;
  line-height: 1.5;
}

body {
  width: auto;
  height: auto;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}

.wrapper {
  padding-top: 4rem;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: auto; 
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: auto;
  font-style: italic;
} 